@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .transform-style-preserve3d{
    transform-style:preserve-3d ;
  }

}

.slick-dots {
  position: relative;
  /* bottom: -25px; */
  /* margin-top: 1010px; */
  z-index: 1000;
}

.slick-slider .slick-arrow {
  background-color: aquamarine;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 30px;
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition:
    background-color 0s,
    opacity 0s,
    color 0s,
    width 0s,
    height 0s,
    padding 0s,
    margin 0s !important;
}

.show-more {
  -webkit-mask-image: linear-gradient(#ffffff, #ffffff, rgba(255, 255, 255, 0));
}

.show-less {
  -webkit-mask-image: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes rightIn {
  from {
    transform: translateX(60%);
  }
  to {
    transform: translateX(40%);
  }
}

.react-responsive-modal-modal {
  margin: 0 !important;
  vertical-align: middle !important;
}
.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 50px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px !important;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  bottom: 0;
}

.swiper-button-prev {
  top: 42% !important;
  background-color: #c0c0c1 !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
}

.swiper-button-prev::after {
  color: #2c2c2c !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  position: absolute;
  left: 14px;
  /* top: 0; */
}
.swiper-button-next {
  top: 42% !important;
  background-color: #c0c0c1 !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
}

.swiper-button-next::after {
  color: #2c2c2c !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  position: absolute;
  right: 14px;
  /* top: 0; */
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
